*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../src//assets/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  flex-grow: 1;
}

h2{
  text-decoration: underline;
}

.contenedor-info-form{
  border: 1px solid rgb(168, 163, 163);
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 10px;
  height: 30rem;
}


